.cube{
  height:200px;
  width:200px;
  position:relative;
  margin:100px;
  transfom-style:preserve-3d;
  prespective:1000px;
  transform:rotateX(25deg) rotateY(-25deg);
}

.face{
  height:100%;
  width:100%;
  position:absolute;
  top:20%;
  left:20%;
  transition: all 1s;
  
}

.one{
  background-color:skyblue;
}

.two{
  background-color:red;
  transform: rotate(90deg) translateZ(-100px) translate;
}
